<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>811652518412-gkh8jdprcktic3mr4aq3v0bqg5pmenvp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.811652518412-gkh8jdprcktic3mr4aq3v0bqg5pmenvp</string>
	<key>API_KEY</key>
	<string>AIzaSyAJTfxZuPvgwj0LI9gePvNf2sKdIDi3BLY</string>
	<key>GCM_SENDER_ID</key>
	<string>811652518412</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flashChatStartingProject</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-f2ed3</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-f2ed3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:811652518412:ios:a90c42b024e2261f3e9429</string>
</dict>
</plist>